.search-container {
  display:inline-flex;
   justify-content: center;
   margin-top:20vh;
  width: 100%;
 
}
.search-container input {
  
  width: 380px;
  height: 50px;
  font-size: 1.2rem;

   outline: none; 
   border-bottom-left-radius: 10vw;
   border-top-left-radius:10vw ;
  border: none;
  background-color: transparent;
  border: 2px solid green;
  color: rgb(47, 47, 88);
  font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
  border-right:none;

}
::placeholder {
  color: rgb(188, 91, 91);
  font-weight: 500;
  font-family:'Times New Roman', Times, serif;
}
.search-icon {
  color:green;
  cursor: pointer;
  padding: 9px;
  height:50px;
  width:60px;
  border: 2px solid green;
  background-color:rgb(112, 215, 109);
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-left:none;
  
}



